.btn-custom {
  color: $color;
  background-color: $light;
  border-color: $color;
  -webkit-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);

  &:not(.btn-custom-fa) {
    white-space: pre-wrap;
    overflow: hidden;
  }

  &.btn-custom-fa {
    padding: 6px 0 6px 0;
  }


  &:hover, &:focus, &:active, &.active {
    color: $light;
    background-color: $color-second;
    border-color: $color;
  }

  &:active, &.active {
    background-image: none;
  }

  &.disabled, &[disabled] {
    background-color: $color;
    border-color: $color;

    &:hover {
      background-color: $color;
      border-color: $color;
    }

    &:focus {
      background-color: $color;
      border-color: $color;
    }

    &:active {
      background-color: $color;
      border-color: $color;
    }

    &.active {
      background-color: $color;
      border-color: $color;
    }
  }

}

.open .dropdown-toggle.btn-custom {
  color: $light;
  background-color: $color-second;
  border-color: $color;
}


.open .dropdown-toggle.btn-custom {
  background-image: none;
}


fieldset[disabled] .btn-custom {
  background-color: $color;
  border-color: $color;
}


fieldset[disabled] .btn-custom:hover {
  background-color: $color;
  border-color: $color;
}

fieldset[disabled] .btn-custom:focus {
  background-color: $color;
  border-color: $color;
}

fieldset[disabled] .btn-custom:active {
  background-color: $color;
  border-color: $color;
}

fieldset[disabled] .btn-custom.active {
  background-color: $color;
  border-color: $color;
}

.btn-custom .badge {
  color: #000000;
  background-color: $light;
}