#footer {
	padding: 50px 0 20px 0;
	background-color: $dark;
	color: $light;
	
	h3 {
		text-align: center;
	}

	img {
		padding: 5px;
		max-height: 80px;
	}

	h3.footer-titles {
		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid $light;
	}

	.footer-copyright {
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px solid $light;
	}
}


@media (max-width: 575.99999px) {
	#footer {
		h3.footer-titles {
			padding-top: 15px;
			margin-top: 20px;
			border-top: 1px solid $light;
		}
	}
}

@media (max-width: 767.99999px) {
}

@media (max-width: 991.99999px) {
}

@media (max-width: 1999.99999px) {
}