$dark: #212121;
$light: #f8f9fa;

$color: #FF3300;
$color_second: #EA5A0B;

$color_light: #74B2D1;
$color_lighter: #74B2D1;

$color_dark: #0087AB;
$color_darker: #0087AB;

@font-face {
 font-family: "Colab";
 src: url("../fonts/ColabReg.otf");
}

*:not(i) {
	font-family: "Colab", sans-serif !important;
}

html {
	font-size: 1rem;
}
h1 {font-size: 2rem; text-align: center;}
h2 {font-size: 1.8rem; text-align: center;}
h3 {font-size: 1.6rem; text-align: center;}
h4 {font-size: 1.4rem; text-align: center;}
h5 {font-size: 1.2rem; text-align: center;}
a {
	color: $color_dark;

	&:hover {
		color: $color_light;
	}
}	

@media (max-width: 575.99999px) {
	h1.display-3 {
		font-size: 3rem;
	}
}

@media (max-width: 767.99999px) {
	.hide_smartphone {
		display: none;
	}
}

@media (max-width: 991.99999px) {
	.hide_tablet {
		display: none;
	}
}

@media (max-width: 1999.99999px) {
}

.container-fluid, .row {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto	
}

p {
	text-align: justify;
}

section {
	padding: 45px 0;

	h1 {
		margin-bottom: 45px;
	}

	&.whiteSection {
		background-color: $light;
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
		a.card {
			border: $color_dark 2px solid;
		}
	}

	&.darkSection {
		background: -webkit-gradient(linear, left top, left bottom, from($color_darker), to($color-dark));
		background: -webkit-linear-gradient($color_darker, $color-dark);
		background: -o-linear-gradient($color_darker, $color-dark);
		background: linear-gradient($color_darker, $color-dark);
		h1, h2, h3, h4, h5 , p, a:not(.btn), li {
			color: $light;
		}
		a.card {
			border: $light 2px solid;
		}
	}

	&.lightSection {
		background: -webkit-gradient(linear, left top, left bottom, from($color_lighter), to($color-light));
		background: -webkit-linear-gradient($color_lighter, $color-light);
		background: -o-linear-gradient($color_lighter, $color-light);
		background: linear-gradient($color_lighter, $color-light);
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
		a.card {
			border: $color_dark 2px solid;
		}
	}

	&.presentationText {
		text-align: justify;
	}
}

.center-element {
	text-align: center;
}


.card {
	margin-bottom: 30px !important;

	h1, h2, h3, h4, h5 , p, a:not(.btn-custom), li {
		color: $dark !important;
	}

	.card-footer {
		text-align: center;
	}
}

a.card {
  -webkit-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);

	&:hover, &:focus {
		text-decoration: none;
		border-color: $color !important;
	}
}

.background-fa-color {
	background: -webkit-gradient(linear, left top, left bottom, from($color), to($color_second));
	background: -webkit-linear-gradient($color, $color_second);
	background: -o-linear-gradient($color, $color_second);
	background: linear-gradient($color, $color_second);
	color: $light;
	text-align: center;
	padding: 10px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'simpleList.scss';
@import 'timeline.scss';
@import 'news.scss';
@import 'btn.scss';