$dark: #212121;
$light: #f8f9fa;

$color: #FF3300;
$color_second: #EA5A0B;

$color_light: #66CCCC;
$color_lighter: #0087AB;

$color_dark: #92B3C6;
$color_darker: #167E8A;

@font-face {
 font-family: "Colab";
 src: url("../fonts/ColabReg.otf");
}

*:not(i) {
	font-family: "Colab", sans-serif !important;
}

html {
	font-size: 1rem;
}
h1 {font-size: 2rem; text-align: center;}
h2 {font-size: 1.8rem; text-align: center;}
h3 {font-size: 1.6rem; text-align: center;}
h4 {font-size: 1.4rem; text-align: center;}
h5 {font-size: 1.2rem; text-align: center;}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.container-fluid, .row {
	padding: 0;
	margin: 0;
}

p {
	text-align: justify;
}

section {
	padding: 45px 0;

	h1 {
		margin-bottom: 45px;
	}

	&.whiteSection {
		background-color: $light;
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
	}

	&.darkSection {
		background: linear-gradient($color_darker, $color-dark);
		h1, h2, h3, h4, h5 , p, a:not(.btn), li {
			color: $light;
		}
	}

	&.lightSection {
		background: linear-gradient($color_lighter, $color-light);
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
	}

	&.presentationText {
		text-align: justify;
	}
}

.center-element {
	text-align: center;
}


.card {
	margin-bottom: 30px !important;

	h1, h2, h3, h4, h5 , p, a:not(.btn-custom), li {
		color: $dark !important;
	}

	.card-footer {
		text-align: center;
	}
}

a.card {
	border: $light 2px solid;
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);

	&:hover, &:focus {
		text-decoration: none;
		border-color: $color;
	}
}

.background-fa-color {
	background: linear-gradient($color, $color_second);
	color: $light;
	text-align: center;
	padding: 10px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'simpleList.scss';
@import 'timeline.scss';
@import 'news.scss';
@import 'btn.scss'