$dark: #000;
$light: #fff;
$color: #1FBADE;
$color_dark: #BD3406;
$color_darker: #AC2305;
$color_light: #EF9220;
$color_lighter: #F0A331;

html {
	font-size: 1rem;
}
h1 {font-size: 2rem; text-align: center;}
h2 {font-size: 1.8rem; text-align: center;}
h3 {font-size: 1.6rem; text-align: center;}
h4 {font-size: 1.4rem;}
h5 {font-size: 1.2rem;}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.container-fluid, .row {
	padding: 0;
	margin: 0;
}

p {
	text-align: justify;
}

section {
	padding: 45px 0;

	h1 {
		margin-bottom: 45px;
	}

	&.colorSection {
		background-color: $color;
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
	}

	&.darkSection {
		background-color: $color_dark;
		h1, h2, h3, h4, h5 , p, a:not(.btn), li {
			color: $light;
		}
	}

	&.lightSection {
		background-color: $color_light;
		h1, h2, h3, h4, h5, p, a:not(.btn), li {
			color: $dark;
		}
	}

	&.presentationText {
		text-align: justify;
	}
}

.center-element {
	text-align: center;
}


.card {
	margin-bottom: 30px !important;

	h1, h2, h3, h4, h5 , p, a, li {
		color: $dark !important;
	}
}

a.card {
	border: $light 2px solid;
	&:hover, &:focus {
		text-decoration: none;
		border-color: $color;
	}
}

.background-fa-color {
	background-color: $color;
	color: $light;
	text-align: center;
	padding: 10px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'simpleList.scss';
@import 'timeline.scss';