#news {
    .card {
        margin: 0 !important;
        border: none;

        &:hover {
            .card-img {
                opacity: 0.3;
            }
            .card-img-overlay {
                opacity: 1;
            }
        } 
    }

    .column {
        margin: 0 !important;
        padding: 0 !important;;
    }

    .mainCard, .mainCard .card-img {
        height: 600px;
    }
    .secondCard, .secondCard .card-img {
        height: 300px;
    }

    .card-img-overlay {
        .card-title, .card-text, .card-date {
            color: $light !important;
        }
        transition: .5s ease;
        opacity: 0.4;

        .card-date {
            background: linear-gradient($color, $color-second);
            text-align: center;
            padding: 5px;
        }

        .card-title {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
             margin: 20px;
        }
    }

    .card-img {
        transition: .5s ease;
        backface-visibility: hidden;
    }

}

