@font-face {
  font-family: "Colab";
  src: url("../fonts/ColabReg.otf"); }
*:not(i) {
  font-family: "Colab", sans-serif !important; }

html {
  font-size: 1rem; }

h1 {
  font-size: 2rem;
  text-align: center; }

h2 {
  font-size: 1.8rem;
  text-align: center; }

h3 {
  font-size: 1.6rem;
  text-align: center; }

h4 {
  font-size: 1.4rem;
  text-align: center; }

h5 {
  font-size: 1.2rem;
  text-align: center; }

@media (max-width: 575.99999px) {
  h1.display-3 {
    font-size: 3rem; } }
@media (max-width: 767.99999px) {
  .hide_smartphone {
    display: none; } }
@media (max-width: 991.99999px) {
  .hide_tablet {
    display: none; } }
.container-fluid, .row {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

p {
  text-align: justify; }

section {
  padding: 45px 0; }
  section h1 {
    margin-bottom: 45px; }
  section.whiteSection {
    background-color: #f8f9fa; }
    section.whiteSection h1, section.whiteSection h2, section.whiteSection h3, section.whiteSection h4, section.whiteSection h5, section.whiteSection p, section.whiteSection a:not(.btn), section.whiteSection li {
      color: #212121; }
  section.darkSection {
    background: -webkit-gradient(linear, left top, left bottom, from(#0087AB), to(#0087AB));
    background: -webkit-linear-gradient(#0087AB, #0087AB);
    background: -o-linear-gradient(#0087AB, #0087AB);
    background: linear-gradient(#0087AB, #0087AB); }
    section.darkSection h1, section.darkSection h2, section.darkSection h3, section.darkSection h4, section.darkSection h5, section.darkSection p, section.darkSection a:not(.btn), section.darkSection li {
      color: #f8f9fa; }
  section.lightSection {
    background: -webkit-gradient(linear, left top, left bottom, from(#C5C1B7), to(#C5C1B7));
    background: -webkit-linear-gradient(#C5C1B7, #C5C1B7);
    background: -o-linear-gradient(#C5C1B7, #C5C1B7);
    background: linear-gradient(#C5C1B7, #C5C1B7); }
    section.lightSection h1, section.lightSection h2, section.lightSection h3, section.lightSection h4, section.lightSection h5, section.lightSection p, section.lightSection a:not(.btn), section.lightSection li {
      color: #212121; }
  section.presentationText {
    text-align: justify; }

.center-element {
  text-align: center; }

.card {
  margin-bottom: 30px !important; }
  .card h1, .card h2, .card h3, .card h4, .card h5, .card p, .card a:not(.btn-custom), .card li {
    color: #212121 !important; }
  .card .card-footer {
    text-align: center; }

a.card {
  border: #f8f9fa 2px solid;
  -webkit-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3); }
  a.card:hover, a.card:focus {
    text-decoration: none;
    border-color: #FF3300; }

.background-fa-color {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#EA5A0B));
  background: -webkit-linear-gradient(#FF3300, #EA5A0B);
  background: -o-linear-gradient(#FF3300, #EA5A0B);
  background: linear-gradient(#FF3300, #EA5A0B);
  color: #f8f9fa;
  text-align: center;
  padding: 10px; }

#header {
  width: 100%;
  background-color: #f8f9fa;
  margin: 0; }
  #header img {
    max-height: 70px; }
  #header a h1 {
    text-decoration: none;
    color: #212121;
    text-align: center;
    margin: auto auto; }
    #header a h1:hover {
      text-decoration: none; }
  #header a:hover {
    text-decoration: none; }
  #header .form-inline {
    margin-top: 5px; }
  #header input[type='search'] {
    font-size: 0.9rem; }

@media (max-width: 767.99999px) {
  #header form.form-inline {
    display: none; } }
#footer {
  padding: 50px 0 20px 0;
  background-color: #212121;
  color: #f8f9fa; }
  #footer h3 {
    text-align: center; }
  #footer img {
    padding: 5px;
    max-height: 80px; }
  #footer h3.footer-titles {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f8f9fa; }
  #footer .footer-copyright {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #f8f9fa; }
  #footer a {
    color: #FF3300; }

@media (max-width: 575.99999px) {
  #footer h3.footer-titles {
    padding-top: 15px;
    margin-top: 20px;
    border-top: 1px solid #f8f9fa; } }
#headerJumbotron {
  background: #f8f9fa url("http://fakeimg.pl/2000x500/") no-repeat center center; }

.transition {
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.hover-description .transition {
  -webkit-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3); }

.five .transition {
  -webkit-transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7);
  -o-transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7);
  transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7); }

.hover-description {
  list-style: none;
  padding: 0; }
  .hover-description > li {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#EA5A0B));
    background: -webkit-linear-gradient(#FF3300, #EA5A0B);
    background: -o-linear-gradient(#FF3300, #EA5A0B);
    background: linear-gradient(#FF3300, #EA5A0B);
    border: 1px solid rgba(150, 150, 150, 0.29);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    height: 430px;
    margin: 0 20px;
    text-align: center; }
    .hover-description > li img {
      margin-top: 60px; }
    .hover-description > li:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
      box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25); }
      .hover-description > li:hover img {
        margin-top: 40px; }
      .hover-description > li:hover span {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        bottom: -400px; }
      .hover-description > li:hover h3 {
        color: #212121;
        margin-top: 25px; }
    .hover-description > li .wrapper {
      margin-left: -15px;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 430px; }
    .hover-description > li span {
      height: 500px;
      width: 100%;
      background: #f8f9fa;
      display: block;
      position: absolute;
      bottom: 150px; }
      .hover-description > li span img {
        margin-top: 10px;
        width: 50px; }
      .hover-description > li span:hover {
        background: #f8f9fa; }
      .hover-description > li span i {
        color: #f8f9fa;
        text-transform: uppercase;
        padding: 10px 30px;
        font-style: normal;
        display: inline-block;
        margin-top: 90px; }
      .hover-description > li span .mamber-img {
        width: 120px;
        margin-top: 170px; }
        .hover-description > li span .mamber-img + h3 {
          margin-top: 20px; }
    .hover-description > li h3 {
      margin-top: 40px;
      color: #212121; }
      .hover-description > li h3 em {
        display: block;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5px; }
  .hover-description .social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px; }
    .hover-description .social li {
      color: #f8f9fa;
      opacity: 0;
      padding: 5px; }
      .hover-description .social li a {
        cursor: pointer;
        display: block; }
        .hover-description .social li a:hover {
          opacity: 0.5; }
      .hover-description .social li img {
        width: 24px; }
  .hover-description > li:hover .social li {
    opacity: 1; }

.transition {
  -webkit-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3); }

.hover-description .transition {
  -webkit-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  -o-transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3);
  transition: 0.7s cubic-bezier(0.3, 0, 0, 1.3); }

.five .transition {
  -webkit-transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7);
  -o-transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7);
  transition: 0.5s cubic-bezier(0.3, 0, 0, 0.7); }

.hover-description {
  list-style: none;
  padding: 0; }
  .hover-description > li {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#EA5A0B));
    background: -webkit-linear-gradient(#FF3300, #EA5A0B);
    background: -o-linear-gradient(#FF3300, #EA5A0B);
    background: linear-gradient(#FF3300, #EA5A0B);
    border: 1px solid rgba(150, 150, 150, 0.29);
    -webkit-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
    height: 430px;
    margin: 0 20px;
    text-align: center; }
    .hover-description > li img {
      margin-top: 60px; }
    .hover-description > li:hover {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
      box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25); }
      .hover-description > li:hover img {
        margin-top: 40px; }
      .hover-description > li:hover span {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        bottom: -400px; }
      .hover-description > li:hover h3 {
        color: #212121;
        margin-top: 25px; }
    .hover-description > li .wrapper {
      margin-left: -15px;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 430px; }
    .hover-description > li span {
      height: 500px;
      width: 100%;
      background: #f8f9fa;
      display: block;
      position: absolute;
      bottom: 150px; }
      .hover-description > li span img {
        margin-top: 10px;
        width: 50px; }
      .hover-description > li span:hover {
        background: #f8f9fa; }
      .hover-description > li span i {
        color: #f8f9fa;
        text-transform: uppercase;
        padding: 10px 30px;
        font-style: normal;
        display: inline-block;
        margin-top: 90px; }
      .hover-description > li span .mamber-img {
        width: 120px;
        margin-top: 170px; }
        .hover-description > li span .mamber-img + h3 {
          margin-top: 20px; }
    .hover-description > li h3 {
      margin-top: 40px;
      color: #212121; }
      .hover-description > li h3 em {
        display: block;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5px; }
  .hover-description .social {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px; }
    .hover-description .social li {
      color: #f8f9fa;
      opacity: 0;
      padding: 5px; }
      .hover-description .social li a {
        cursor: pointer;
        display: block; }
        .hover-description .social li a:hover {
          opacity: 0.5; }
      .hover-description .social li img {
        width: 24px; }
  .hover-description > li:hover .social li {
    opacity: 1; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #f8f9fa;
    left: 3%;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 20px;
    position: relative; }
    .timeline > li:before {
      content: " ";
      display: table; }
    .timeline > li:after {
      content: " ";
      display: table;
      clear: both; }
    .timeline > li:before {
      content: " ";
      display: table; }
    .timeline > li:after {
      content: " ";
      display: table;
      clear: both; }
    .timeline > li > .timeline-panel {
      width: 95%;
      float: left;
      border: 2px solid #f8f9fa;
      border-radius: 2px;
      padding: 20px;
      position: relative;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      background-color: #f8f9fa; }
      .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " "; }
      .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " "; }
      .timeline > li > .timeline-panel:hover {
        text-decoration: none;
        border: 2px solid #FF3300; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }

.timeline-date {
  margin-top: 0;
  text-align: center;
  color: #f8f9fa !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#EA5A0B));
  background: -webkit-linear-gradient(#FF3300, #EA5A0B);
  background: -o-linear-gradient(#FF3300, #EA5A0B);
  background: linear-gradient(#FF3300, #EA5A0B);
  padding: 5px; }

.timeline-title {
  margin-top: 0;
  text-align: center;
  color: #FF3300 !important;
  text-transform: uppercase; }

.timeline-body > p, .timeline-body > ul {
  margin-bottom: 0; }
.timeline-body > p + p {
  margin-top: 5px; }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px; }
  ul.timeline > li > .timeline-panel {
    float: right; }
    ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto; }
    ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto; } }
#news .card {
  margin: 0 !important;
  border: none; }
  #news .card:hover .card-img {
    opacity: 0.3; }
  #news .card:hover .card-img-overlay {
    opacity: 1; }
#news .column {
  margin: 0 !important;
  padding: 0 !important; }
#news .mainCard, #news .mainCard .card-img {
  height: 600px; }
#news .secondCard, #news .secondCard .card-img {
  height: 300px; }
#news .card-img-overlay {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0.4; }
  #news .card-img-overlay .card-title, #news .card-img-overlay .card-text, #news .card-img-overlay .card-date {
    color: #f8f9fa !important; }
  #news .card-img-overlay .card-date {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#EA5A0B));
    background: -webkit-linear-gradient(#FF3300, #EA5A0B);
    background: -o-linear-gradient(#FF3300, #EA5A0B);
    background: linear-gradient(#FF3300, #EA5A0B);
    text-align: center;
    padding: 5px; }
  #news .card-img-overlay .card-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin: 20px; }
#news .card-img {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.btn-custom {
  color: #f8f9fa;
  background-color: #FF3300;
  border-color: #FF3300; }
  .btn-custom:not(.btn-custom-fa) {
    white-space: pre-wrap;
    overflow: hidden; }
  .btn-custom.btn-custom-fa {
    padding: 6px 0 6px 0; }
  .btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active {
    color: #f8f9fa;
    background-color: #EA5A0B;
    border-color: #FF3300; }
  .btn-custom:active, .btn-custom.active {
    background-image: none; }
  .btn-custom.disabled, .btn-custom[disabled] {
    background-color: #FF3300;
    border-color: #FF3300; }
    .btn-custom.disabled:hover, .btn-custom[disabled]:hover {
      background-color: #FF3300;
      border-color: #FF3300; }
    .btn-custom.disabled:focus, .btn-custom[disabled]:focus {
      background-color: #FF3300;
      border-color: #FF3300; }
    .btn-custom.disabled:active, .btn-custom[disabled]:active {
      background-color: #FF3300;
      border-color: #FF3300; }
    .btn-custom.disabled.active, .btn-custom[disabled].active {
      background-color: #FF3300;
      border-color: #FF3300; }

.open .dropdown-toggle.btn-custom {
  color: #f8f9fa;
  background-color: #EA5A0B;
  border-color: #FF3300; }

.open .dropdown-toggle.btn-custom {
  background-image: none; }

fieldset[disabled] .btn-custom {
  background-color: #FF3300;
  border-color: #FF3300; }

fieldset[disabled] .btn-custom:hover {
  background-color: #FF3300;
  border-color: #FF3300; }

fieldset[disabled] .btn-custom:focus {
  background-color: #FF3300;
  border-color: #FF3300; }

fieldset[disabled] .btn-custom:active {
  background-color: #FF3300;
  border-color: #FF3300; }

fieldset[disabled] .btn-custom.active {
  background-color: #FF3300;
  border-color: #FF3300; }

.btn-custom .badge {
  color: #000000;
  background-color: #f8f9fa; }

/*# sourceMappingURL=main.css.map */
